* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}



/*-------common header, main, footer container-------*/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*-------header-------*/
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-logo {
    height: 50px;
    width: 50px;
    background: url("./assets/svg/logo.svg");
    transition: 0.3s;
}

.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.header-navlang {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    padding-right: 25px;
    display: inline-block;
    line-height: 50px;
}

.nav-item:last-child {
    padding-right: 31px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.header-lang {
    margin-right: 30px;
}

.header-lang span {
    line-height: 50px;
    font-weight: 700;
}

.lang {
    transition: 0.3s;
}

.lang:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.slash {
    padding: 0 3px 0 3px;
}

.language-active {
    color: #BDAE82;
}

.language-active:hover {
    cursor: pointer;
}

.dark-icon {
    width: 45px;
    height: 45px;
    background: url("./assets/svg/night-theme.svg") no-repeat;
    transition: 0.3s;
}

.dark-icon:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.light-icon {
    background: url("./assets/svg/white-theme.svg") no-repeat;
}

.header-burger {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
    z-index: 15;
}

.burger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.line-light {
    background-color: #000;
}

.burger-line1 {
    top: 11px;
}

.burger-line2 {
    top: 23px;
}

.burger-line3{
    bottom: 11px;
}
/*-------main-------*/
.main-container {
    display: flex;
    flex-direction: column;
}

.section-title {
    position: relative;
    background-color: #000;
    color: #BDAE82;
    font-family: Merriweather;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 700px;
    height: 2px;
    background-color: #BDAE82;
    z-index: -1;
}

.title-light {
    background-color: #fff;
    color: #000;
}

.title-light::after {
    background-color: #000;
}

.hero-container {
    padding: 160px 20px 330px 80px;
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 500px;
}

h1 {
    font-family: Merriweather;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    margin-top: 10px;
    width: 470px;
    line-height: 40px;
}

.hire-me {
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: 0;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.hire-me:hover, .hire-me:focus {
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	animation: pulse 1s;
}

@keyframes pulse{
	0%{box-shadow: 0 0 0 0 #f0d37c}
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
}

.skills {
    width: 152px;
}

.skillsru {
    width: 175px;
}

.skills::after {
    bottom: 39px;
    left: -274px;
}

.skills-items {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-item {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
}

.skills-item:last-child {
    margin-right: 0;
}

.skills-items__photo-logo {
    margin-bottom: 50px;
    width: 62px;
    height: 50px;
    background: url("./assets/svg/camera.svg") no-repeat;
}

.skills-items__item-title {
    margin-bottom: 20px;
    line-height: 40px;
    width: 280px;
    height: 40px;
    text-align: center;
}

.item-text {
    padding: 0;
    width: 280px;
    height: 72px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}

.skills-items__video-logo {
    margin-bottom: 50px;
    width: 60px;
    height: 50px;
    background: url("./assets/svg/video.svg") no-repeat;
}

.skills-items__retouch-logo {
    margin-bottom: 50px;
    width: 66px;
    height: 50px;
    background: url("./assets/svg/image.svg") no-repeat;
}

.skills-items__audio-logo {
    margin-bottom: 50px;
    width: 32px;
    height: 50px;
    background: url("./assets/svg/mic.svg") no-repeat;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 20px 0 20px;
}

.portfolio {
    width: 220px;
}

.portfolioru {
    width: 255px;
}

.portfolio::after {
    bottom: 39px;
    left: -240px;
}

.portfolio-buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    position: relative;
    margin-right: 5px;
    width: 220px;
    height: 55px;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    background: #000;
    text-align: center;
    line-height: 40px;
    transition: 0.2s ease-in 0.03s, box-shadow ease-in 0.13s;
}

.button:focus {
    outline: 0;
}

.button:before, .button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 20%, #BDAE82 20%, transparent 30%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #BDAE82 15%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #BDAE82 15%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.button:active {
    transform: scale(0.9);
    background-color: #f0d37c;
    box-shadow: 0 2px 25px #f0d37c;
}
.button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:last-child {
    margin-right: 0;
}

.button-light {
    background-color: #fff;
    color: #000;
}

.button-light:hover {
    background-color: #BDAE82;
    color: #fff;
}

@media (max-width: 935px) {
    .button:last-child {
        margin-top: 5px;
    }
}

.button:hover {
    color: #fff;
    cursor: pointer;
}

.button-active {
    background: #BDAE82;
    color: #000;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 60px;
    max-width: 1400px;
    min-height: 1145px;
}

@media screen and (max-width: 1390px) {
    .portfolio-images {
        justify-content: space-around;
    }
    .portfolio-image {
        margin-bottom: 10px;
    }
} 

.portfolio-image {
    max-width: 450px;
    height: auto;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
}

.video {
    width: 154px;
}

.video::after {
    bottom: 39px;
    left: -273px;
}

.video-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.video-img {
    width: 100%;
    height: auto;
}

.video-img-tablet {
    display: none;
}

.video-button {
    width: 130px;
    height: 130px;
    position: absolute;
    background: url("./assets/svg/Play_Unvisited.svg") no-repeat;
    border: 0;
    transition: 0.3s;
}

.video-button:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 100px 20px;
}

.price {
    width: 142px;
}

.price::after {
    bottom: 39px;
    left: -279px;
}

.price-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.price-item {
    margin-right: 25px;
    padding: 40px 43px 40px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
}

.price-item:last-child {
    margin-right: 0;
}

.price-item__title {
    font-size: 28px;
    font-family: Merriweather;
    line-height: 56px;
}

.price-price {
    margin-top: 20px;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}

.price-text {
    margin-top: 20px;
    text-align: center;
    line-height: 36px;
}

.price-text span {
    font-size: 18px;
}

.order-button {
    position: relative;
    margin-top: 40px;
    width: 220px;
    height: 55px;
    color: #000;
    background-color: #BDAE82;
    border: 0;
    line-height: 40px;
    transition: 0.2s ease-in 0.03s, box-shadow ease-in 0.16s;
}

.order-button:focus {
    outline: 0;
}

.order-button:before, .order-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.order-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 20%, #BDAE82 20%, transparent 30%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #BDAE82 15%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.order-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, transparent 10%, #BDAE82 15%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%), radial-gradient(circle, #BDAE82 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.order-button:active {
    transform: scale(0.9);
    background-color: #f0d37c;
    box-shadow: 0 2px 25px #f0d37c;
}
.order-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.order-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

.order-button:hover {
    color: #fff;
    cursor: pointer;
}

.contacts-container {
    height: 700px;
    display: flex;
    justify-content: flex-end;
    padding: 60px 20px 0 20px;
    background: url('./assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contacts-content {
    width: 450px;
}

.contacts-title {
    margin-bottom: 40px;
    color: #BDAE82;
    font-family: Merriweather;
    font-size: 40px;
    line-height: 80px;
}

.input {
    width: 450px;
    height: 50px;
    line-height: 37px;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    color: #BDAE82;
    margin-bottom: 20px;
    padding: 5px 19px;
}

.input::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.message-input {
    height: 100px;
    resize: none;
    margin-bottom: 25px;
}

.send-message {
    position: relative;
    width: 220px;
    height: 55px;
    color: #000;
    background-color: #BDAE82;
    border: 0;
    line-height: 40px;
    transition: 0.3s;
}

.send-message:hover {
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	animation: pulse 1s;
}

/*-------footer-------*/

.footer-container {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #000;
}

.year {
    margin: 0 20px;
}

.github-link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    transition: 0.3s;
}

.github-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
}

.rss-link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.rss-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
}

.footer-social {
    width: 188px;
}

.sotial-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.sotial-link {
    display: block;
    width: 32px;
    height: 32px;
}

.inst-link {
    background: url("./assets/svg/inst.svg") no-repeat;
    transition: 0.3s;
}

.face-link {
    background: url("./assets/svg/fb.svg") no-repeat;
    transition: 0.3s;
}

.tw-link {
    background: url("./assets/svg/tw.svg") no-repeat;
    transition: 0.3s;
}

.pint-link {
    background: url("./assets/svg/pinterest.svg") no-repeat;
    transition: 0.3s;
}

.inst-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.face-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.tw-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.pint-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.light-theme {
    color: #000;
}

@media screen and (max-width: 768px) {
    .body-hidden {
        overflow: hidden;
    }

    h1 {
        min-width: 200px;
    }
    .container {
        max-width: 768px;
    }
    .header-container {
        padding: 20px 64px 20px 60px;
        background: url("./assets/img/bg_tablet.jpg");
        background-repeat: no-repeat;
        background-position: center 0;
    }

    .header-navlang {
        position: relative;
    }
    .header-navigation {
        padding: 135px 344px 463px 129px;
        position: fixed;
        height: 100%;
        width: 81%;
        top: 0;
        right: 0;
        background: #000;
        z-index: 10;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .navigation-light {
        background-color: #fff;
    }

    .navigation-light a {
        color: #000;
    }

    .navigation-open {
        transform: translateX(0);
        box-shadow: -100px 0 200px -20px #000;
        overflow: auto;
    }

    .nav-link {
        font-size: 35px;
        line-height: 73px;
    }

    .nav-item {
        margin-bottom: 16px;
    }

    .nav-item:last-child {
        margin-bottom: 0;
    }

    .header-lang {
        margin-right: 28px;
    }

    .slash {
        margin-right: 5px;
    }

    .dark-icon {
        margin-right: 30px;
    }

    .header-burger {
        display: block;
    }

    .header-burger.navigation-open {
        width: 60px;
        height: 60px;
        position: absolute;
        top: -7px;
        right: -8px;
    }

    .header-burger.navigation-open .burger-line {
        height: 2px;
        width: 100%;
    }

    .header-burger.navigation-open .burger-line2 {
        display: none;
    }

    .header-burger.navigation-open .burger-line1 {
        transform: rotate(45deg);
        top: 30px;
    }

    .header-burger.navigation-open .burger-line3 {
        transform: rotate(-45deg);
        bottom: 27px;
    }

    .header-navigation.navigation-open {
        transform: translateX(0);
    }

    .hero-container {
        padding: 78px 318px 152px 60px;
        background: url("./assets/img/bg_tablet.jpg");
        background-repeat: no-repeat;
        background-position: center -90px;
    }

    .hero-content {
        max-width: 390px;
    }

    h1 {
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 32px;
        line-height: 64px;
    }

    .hero-text {
        margin-bottom: 60px;
        font-weight: normal;
        line-height: 24px;
        max-width: 390px;
    }

    .hero-textru {
        margin-bottom: 35px;
    }

    .hire-me {
        margin: 0;
    }

    .section-title {
        font-size: 32px;
        line-height: 40px;
    }

    .section-title::after {
        max-width: 364px;
    }

    .skills-container {
        padding: 100px 60px 0 57px;
    }

    .skills {
        max-width: 131px;
    }

    .skillsru {
        max-width: 140px;
    }

    .skills::after {
        bottom: 20px;
        left: -116px;
    }

    .skills-items {
        margin-top: 64px;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        /* max-height: 484px; */
        max-width: 644px;
    }

    .skills-item {
        margin: 0;
        margin-bottom: 36px;
        width: 300px;
        height: 224px;
    }

    .skills-items__audio-logo,
    .skills-items__photo-logo,
    .skills-items__video-logo,
    .skills-items__retouch-logo {
        margin-bottom: 30px;
    }

    .item-text {
        line-height: 22px;
        height: auto;
    }

    .portfolio-container {
        padding-top: 104px;
    }

    .portfolio {
        max-width: 185px;
    }

    .portfolioru {
        max-width: 200px;
    }

    .portfolio::after {
        bottom: 18px;
        left: -88px;
    }

    .portfolio-buttons {
        justify-content: space-between;
        align-content: space-between;
        max-width: 445px;
        max-height: 115px;
        margin-top: 70px;
    }

    .button {
        margin: 0;
        margin-bottom: 5px;
    }

    .button:last-child {
        margin: 0;
    }

    .portfolio-image {
        margin-bottom: 25px;
    }

    .video-container {
        max-height: 628px;
        justify-content: space-between;
        padding: 75px 0 0 0;
    }

    .video {
        max-width: 131px;
        height: 50px;
    }

    .video::after {
        bottom: 30px;
        left: -117px;
    }

    .video-img {
        display: none;
    }

    .video-img-tablet {
        display: block;
        width: 100%;
        height: auto;
    }

    .video-button {
        width: 75px;
        height: 75px;
        background: url("./assets/svg/play-btn-tablet.svg") no-repeat;
    }

    .price-container {
        padding-bottom: 80px;
    }

    .price {
        max-width: 122px;
    }

    .price::after {
        bottom: 18px;
        left: -120px;
    }

    .price-items {
        margin-top: 71px;
    }

    .price-item {
        margin: 0 0 50px 0;
        width: 420px;
        height: 505px;
    }

    .price-item:last-child {
        margin: 0;
    }

    .price-text span {
        font-size: 18px;
    }

    .contacts-container {
        padding-top: 50px;
        max-height: 600px;
        justify-content: center;
        background: url('./assets/img/contacts-tablet.jpg') no-repeat;
    }

    .contacts-content {
        max-width: 450px;
        max-height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts-title {
        margin-bottom: 33px;
        text-align: center;
        font-size: 32px;
    }

    .footer-container {
        padding: 28px 0 0 0;
        flex-direction: column;
    }

    .footer-data {
        padding-left: 15px;
    }

    .year {
        margin-right: 25px;
    }

    .footer-social {
        margin-top: 12px;
    }
}

@media screen and (max-width: 716px) {
    .skills-items {
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    .header-navigation {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .portfolio-buttons {
        margin-top: 20px;
        max-height: 300px;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 451px) {
    .section-title::after {
        max-width: 250px;
    }

    .portfolio-image {
        max-width: 300px;
    }

    .skills::after {
        bottom: 18px;
        left: -60px;
    }

    .portfolio::after {
        bottom: 18px;
        left: -30px;
    }

    .video::after {
        bottom: 28px;
        left: -60px;
    }

    .price::after {
        bottom: 18px;
        left: -60px;
    }

    .header-container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .hero-container {
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    .video-container {
        padding-top: 30px;
    }
    .skills-container {
        padding: 20px 5px 0 5px;
    }
    .portfolio-container{
        padding: 10px 5px 0 5px;
    }
    .price-container{
        padding: 30px 5px 30px 5px;
    }
    .contacts-container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .hero-text {
        max-width: 200px;
    }

    .input {
        width: 320px;
    }
}

@media screen and (max-width: 421px) {
    .price-item {
        padding-top: 10px;
        max-width: 300px;
    }

    .price-ru{
        line-height: 24px;
    }
}

@media screen and (max-width: 361px) {
    .header-navigation {
        padding-left: 60px;
        padding-right: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 323px) {
    .portfolio-image {
        max-width: 250px;
    }

    .input {
        width: 100%;
    }
}

.light-body {
    background-color: #fff;
}