* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 20px;
}

body {
    background-color: #000;
    color: #fff;
}

/*-------common header, main, footer container-------*/
.container {
    width: 1440px;
    margin: 0 auto;
}

/*-------header-------*/
.header {
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}
.header-logo {
    height: 50px;
    width: 50px;
    background: url("./assets/svg/logo.svg");
}

.header-navlang {
    display: flex;
    justify-content: center;
}

.header-navigation {
    
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    padding-right: 25px;
    display: inline-block;
    line-height: 50px;
}

.nav-item:last-child {
    padding-right: 31px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.header-lang span {
    line-height: 50px;
    font-weight: 700;
}

.en {
    color: #BDAE82;
}

.slash {
    padding: 0 3px 0 3px;
}

/*-------main-------*/
.main {
}
.main-container {
    display: flex;
    flex-direction: column;
}
.section {
    
}
.section-title {
    position: relative;
    background-color: #000;
    color: #BDAE82;
    font-family: Merriweather;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 700px;
    height: 2px;
    background-color: #BDAE82;
    z-index: -1;
}

.hero-container {
    padding: 160px 20px 330px 80px;
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;

}

.hero-content {
    width: 500px;
}

h1 {
    font-family: Merriweather;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    margin-top: 10px;
    width: 470px;
    line-height: 40px;
}

.hire-me {
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: 0;
    text-align: center;
    line-height: 40px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
}

.skills {
    width: 152px;
}

.skills::after {
    bottom: 39px;
    left: -274px;
}

.skills-items {
    margin-top: 60px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
    /* border: 1px solid green; */
}
.photo-item {
}
.skills-items__photo-logo {
    margin-bottom: 50px;
    width: 62px;
    height: 50px;
    background: url("./assets/svg/camera.svg") no-repeat;
}
.skills-items__item-title {
    margin-bottom: 20px;
    line-height: 40px;
    width: 280px;
    height: 40px;
    text-align: center;
}
.item-text {
    padding: 0;
    width: 280px;
    height: 72px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}
.video-item {
}
.skills-items__video-logo {
    margin-bottom: 50px;
    width: 60px;
    height: 50px;
    background: url("./assets/svg/video.svg") no-repeat;
}
.retouch-item {
}
.skills-items__retouch-logo {
    margin-bottom: 50px;
    width: 66px;
    height: 50px;
    background: url("./assets/svg/image.svg") no-repeat;
}
.audio-item {
}
.skills-items__audio-logo {
    margin-bottom: 50px;
    width: 32px;
    height: 50px;
    background: url("./assets/svg/mic.svg") no-repeat;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 20px 0 20px;
}

.portfolio-title {
}
.section-title {
}
.portfolio {
    width: 220px;
}

.portfolio::after {
    bottom: 39px;
    left: -240px;
}

.portfolio-buttons {
    margin-top: 60px;
    width: 895px;
    display: flex;
    justify-content: space-between;
}
.button {
    width: 220px;
    height: 55px;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    background: #000;
    text-align: center;
    line-height: 40px;
}
.winter-button {
}
.spring-button {
}
.summer-button {
}
.autumn-button {
    background: #BDAE82;
    color: #000;
}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 60px;
    width: 1400px;
    height: 1145px;
}
.portfolio-image {
    width: 450px;
    height: 560px;
}

.video-container {
}
.price-container {
}
.contacts-container {
}

/*-------footer-------*/
.footer {
}
.footer-container {
}
.footer-data {
}
.rss-link {
}
.footer-social-list {
}