* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

/*-------common header, main, footer container-------*/
.container {
    width: 1440px;
    margin: 0 auto;
}

/*-------header-------*/
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-logo {
    height: 50px;
    width: 50px;
    background: url("./assets/svg/logo.svg");
    transition: 0.3s;
}

.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.header-navlang {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    padding-right: 25px;
    display: inline-block;
    line-height: 50px;
}

.nav-item:last-child {
    padding-right: 31px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.header-lang span {
    line-height: 50px;
    font-weight: 700;
}

.en {
    color: #BDAE82;
    transition: 0.3s;
}

.en:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.slash {
    padding: 0 3px 0 3px;
}

.ru {
    transition: 0.3s;
}

.ru:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

/*-------main-------*/
.main-container {
    display: flex;
    flex-direction: column;
}

.section-title {
    position: relative;
    background-color: #000;
    color: #BDAE82;
    font-family: Merriweather;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 700px;
    height: 2px;
    background-color: #BDAE82;
    z-index: -1;
}

.hero-container {
    padding: 160px 20px 330px 80px;
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-content {
    width: 500px;
}

h1 {
    font-family: Merriweather;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    margin-top: 10px;
    width: 470px;
    line-height: 40px;
}

.hire-me {
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    color: #000;
    border: 0;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.hire-me:hover {
    color: #fff;
    cursor: pointer;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
}

.skills {
    width: 152px;
}

.skills::after {
    bottom: 39px;
    left: -274px;
}

.skills-items {
    margin-top: 60px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
}

.skills-items__photo-logo {
    margin-bottom: 50px;
    width: 62px;
    height: 50px;
    background: url("./assets/svg/camera.svg") no-repeat;
}

.skills-items__item-title {
    margin-bottom: 20px;
    line-height: 40px;
    width: 280px;
    height: 40px;
    text-align: center;
}

.item-text {
    padding: 0;
    width: 280px;
    height: 72px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}

.skills-items__video-logo {
    margin-bottom: 50px;
    width: 60px;
    height: 50px;
    background: url("./assets/svg/video.svg") no-repeat;
}

.skills-items__retouch-logo {
    margin-bottom: 50px;
    width: 66px;
    height: 50px;
    background: url("./assets/svg/image.svg") no-repeat;
}

.skills-items__audio-logo {
    margin-bottom: 50px;
    width: 32px;
    height: 50px;
    background: url("./assets/svg/mic.svg") no-repeat;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 20px 0 20px;
}

.portfolio {
    width: 220px;
}

.portfolio::after {
    bottom: 39px;
    left: -240px;
}

.portfolio-buttons {
    margin-top: 60px;
    width: 895px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 220px;
    height: 55px;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    background: #000;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}

.button:hover {
    color: #fff;
    cursor: pointer;
}

.autumn-button {
    background: #BDAE82;
    color: #000;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 60px;
    width: 1400px;
    height: 1145px;
}

.portfolio-image {
    width: 450px;
    height: 560px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
}

.video {
    width: 154px;
}

.video::after {
    bottom: 39px;
    left: -273px;
}

.video-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    width: 1400px;
    height: 705px;
    background: url("./assets/img/video-player.jpg") no-repeat;
}

.video-button {
    width: 130px;
    height: 130px;
    background: url("./assets/svg/Play_Unvisited.svg") no-repeat;
    border: 0;
    transition: 0.3s;
}

.video-button:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 100px 20px;
}

.price {
    width: 142px;
}

.price::after {
    bottom: 39px;
    left: -279px;
}

.price-items {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-top: 60px;
}

.price-item {
    padding: 40px 43px 40px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
}

.price-item__title {
    font-size: 28px;
    font-family: Merriweather;
    line-height: 56px;
}

.price-price {
    margin-top: 20px;
    font-family: Merriweather;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}

.price-text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}

.order-button {
    margin-top: 40px;
    width: 220px;
    height: 55px;
    color: #000;
    background-color: #BDAE82;
    border: 0;
    line-height: 40px;
    transition: 0.3s;
}

.order-button:hover {
    color: #fff;
    cursor: pointer;
}

.contacts-container {
    height: 700px;
    display: flex;
    justify-content: flex-end;
    padding: 60px 20px 0 20px;
    background: url('./assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contacts-content {
    width: 450px;
}

.contacts-title {
    margin-bottom: 40px;
    color: #BDAE82;
    font-family: Merriweather;
    font-size: 40px;
    line-height: 80px;
}

.input {
    width: 450px;
    height: 50px;
    line-height: 37px;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    color: #BDAE82;
    margin-bottom: 20px;
    padding: 5px 19px;
}

.input::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.input:hover,
.input:focus {
    background: rgba(0, 0, 0, 1);
}


.message-input {
    height: 100px;
    resize: none;
    margin-bottom: 25px;
}

.send-message {
    width: 220px;
    height: 55px;
    color: #000;
    background-color: #BDAE82;
    border: 0;
    line-height: 40px;
    transition: 0.3s;
}

.send-message:hover {
    color: #fff;
    cursor: pointer;
}

/*-------footer-------*/
.footer-container {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.year {
    margin: 0 20px;
}

.github-link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    transition: 0.3s;
}

.github-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
}

.rss-link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.rss-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
}

.footer-social {
    width: 188px;
}

.sotial-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.sotial-link {
    display: block;
    width: 32px;
    height: 32px;
}

.inst-link {
    background: url("./assets/svg/inst.svg") no-repeat;
    transition: 0.3s;
}

.face-link {
    background: url("./assets/svg/fb.svg") no-repeat;
    transition: 0.3s;
}

.tw-link {
    background: url("./assets/svg/tw.svg") no-repeat;
    transition: 0.3s;
}

.pint-link {
    background: url("./assets/svg/pinterest.svg") no-repeat;
    transition: 0.3s;
}

.inst-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.face-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.tw-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}

.pint-link:hover {
    filter: invert(26%) sepia(15%) saturate(649%) hue-rotate(7deg) brightness(94%) contrast(86%);
    cursor: pointer;
}